{{ define "main" }}
<style>
  .publications ul {
    list-style-type: disc; /* First level bullet point style */
  }
  .container ul ul {
      list-style-type: circle; /* Second level bullet point style */
  }
</style>
<div class="cv">
<div class="experience">
<h2> Experience</h2>

{{ $paginator := .Paginate .RegularPages }}
{{ $sortedPages := sort $paginator.Pages "Weight" "asc" }}
{{ range $sortedPages }}
  {{ if eq .Params.cvtype "experience" }}
    {{ partial "cvitem.html" . }}
  {{ end }}
{{ end }}
</div>
<div class="publications">
<h2> Publications </h2>

{{/*  {{ }}  */}}
{{ $specificContent := readFile "content/cv/publications.md" }}
{{ .Content }}

{{ with .Site.GetPage "page" "publications" }}
  {{ .Content }}
{{ end }}
</div>
</div>
{{ end }}
