<style>
    .container  p, .container ul, .container li  {
        margin: 0px;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 20px;
    }

    .left-div, .right-div {
        padding: 10px;
        /*  border: 1px solid #ccc;  */
        /*  border-radius: 5px;  */
        /*  margin-bottom: 10px; /* Add margin to separate the boxes */ 
    }

    .left-div {
        text-align: left;
        margin-right: 10px; /* Add margin to separate the boxes */
    }

    .right-div {
        text-align: right;
        margin-left: auto; /* Auto margin to push the box to the right side */
    }

    .third-div {
        width: 90%; /* Set width to 90% */
        margin-bottom: 10px;
        margin-left: 10px;
        font-size: smaller;
        padding: 10px;
    }

    #cvcompany {
        font-weight: bolder;
    }
    #cvrole {
        font-style: italic;
    }
</style>


<div class="container">
    <div class="left-div">
        <div>
        <p id="cvcompany">{{ .Params.cvcompany }}</p>
        <p id="cvrole">{{ .Params.cvrole }}</p>
        </div>
    </div>
    <div class="right-div">
        <p>{{.Params.cvdate }}</p>
        <p>{{.Params.cvloc }}</p>
    </div>
    <div class="third-div">
        {{ .Content }}
    </div>
</div>
