<style>
    .container  p, .container ul, .container li  {
        margin: 0px;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 0px;
        margin-top: 10px;
        margin-bottom: 15px;
 
    }

    .left-div, .right-div {
        padding: 5px;
        /*  border: 1px solid #ccc;  */
        /*  border-radius: 5px;  */
        /*  margin-bottom: 10px; /* Add margin to separate the boxes */ 
    }

    .left-div {
        text-align: left;
        margin-right: 5px; /* Add margin to separate the boxes */
    }

    .right-div {
        text-align: right;
        margin-left: auto; /* Auto margin to push the box to the right side */
        font-size: smaller; 

    }

    .third-div {
        width: 90%; /* Set width to 90% */
        margin-bottom: 0px;
        margin-left: 20px;
        /*  font-size: smaller;  */
        padding: 0px;
    }

    .third-div p{
        margin-bottom: 2px;
    }
    
    .cvitem-head-link {
        color: var(--tw-prose-links);
    }
    .cvitem-head-link:hover {
        color: var(--tw-prose-links-hover);
          /* color: rgb(0, 0, 242); */
    }
    #cvcompany {
    }
    #cvrole {
        font-style: italic;
    }
    /*  width: max(min(100%, 580px),calc(100% - 100px)) ;  */

    .logo {
        position: absolute;
        top: -5px;
        left: -100px;
        z-index: 10;
        width: 100px;
    }
    .logo img {
        width: 75%;
        margin-right: auto;
        margin-top:0;
    }
</style>

{{ if not .hide }}

<div class="container">
    
    {{ if .logo }}
    <div style="position: relative; width: 0; height: 0">
    <div class="logo">
        <img src="{{ .logo }}" >
    </div>
    </div>
    {{ end }}
    <div class="left-div">
        <div>
        <p id="cvcompany">
            {{if .url }}<a href="{{.url}}" class="cvitem-head-link" target="_blank">{{end}}
                <strong>{{ .name }}</strong>
            {{if .url }}</a>{{end}}</p>
        <p id="cvrole">{{ .role }}</p>
        </div>
    </div>
    <div class="right-div">
        <p>{{.date | markdownify}}</p>
        <p>{{.location }}</p>
    </div>
    <div class="third-div">
        {{ .description | markdownify }}
    </div>
    
</div>
{{ end }}
