{{ define "main" }}

<header class="mb-16">
  <h1 class="!my-0 pb-2.5">{{ .Title }}</h1>

</header>


{{ $pages := .RegularPages  }}<!---->
{{ $paginator := .Paginate $pages  }} 
{{ range $index, $page := $paginator.Pages }}<!---->


<section class="relative my-10 first-of-type:mt-0 last-of-type:mb-0">
  
  {{ partial "researchitem.html" . }}
  <a class="absolute inset-0 text-[0]" href="{{ .Permalink }}" style="z-index: 1;">{{ .Title }}</a>
</section>
{{ end }}

<!-- Main Nav -->
{{ if gt $paginator.TotalPages 1 }}
<nav class="mt-16 flex">
  {{ if $paginator.HasPrev }}
  <a class="btn" href="{{ $paginator.Prev.URL }}">← {{ i18n "prev_page" }}</a>
  {{ end }}<!---->
  {{ if $paginator.HasNext }}
  <a class="btn ml-auto" href="{{ $paginator.Next.URL }}"
    >{{ i18n "next_page" }} →</a
  >
  {{ end }}
</nav>
{{ end }}<!---->

{{ end }}
